{% extends 'base.html' %}

{% load static %}

{% block title %} Progetto CAS {% endblock %}

{% block content%}
<div class="div_for_hspace"></div>
<h1>FATBALL.IO</h1>
<div class="div_for_hspace"></div>
<form id="form_room">
    <label for="nickname">Username:</label>
    <input type="text" id="nickname"/><br/>
    <label for="room_name">Room Name:</label>
    <input type="text" id="nickname"/><br>
    <div class="div_for_hspace"></div>
    <input type="button" value="Join or Create"/>
</form>

{% endblock %}